{
  moe = {
    token = "xxxxxxxxxxxxxxxxxxxxxxxx.xxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxx";
    owners = "111111111111111111,222222222222222222";
  };
  # manually set this password for root with `mysql_secure_installation`
  mysql.password = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
  transmission.password = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";
  acme.email ="example@example.com";
}
