name: "Build some packages and populate cache"
on:
  workflow_dispatch:
  push:
    branches:
      - '**'
jobs:
  build-ci:
    runs-on: ubuntu-24.04-arm
    steps:
    # this is FORGEJO_TOKEN with an alias for backwards compatibility for most actions
    # but it breaks when making requests to GitHub
    - name: Remove GITHUB_TOKEN
      run: |
        unset GITHUB_TOKEN
        echo token: $GITHUB_TOKEN
    - name: Checkout repository
      uses: actions/checkout@v5
    - name: Install Nix
      uses: https://github.com/cachix/install-nix-action@v31.5.2
      with:
        nix_path: "nixpkgs=https://github.com/NixOS/nixpkgs/archive/refs/heads/nixos-unstable.tar.gz"
        extra_nix_config: |
          experimental-features = nix-command flakes
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - name: Setup cachix
      uses: https://github.com/cachix/cachix-action@v16
      with:
        name: tchfoo
        authToken: '${{ secrets.CACHIX_AUTH_TOKEN }}'
    - name: Check GITHUB_TOKEN
      run: |
        echo token: $GITHUB_TOKEN
    - name: Build nix packages
      run: nix shell -f '<nixpkgs>' lixPackageSets.latest.lix lixPackageSets.latest.nix-fast-build -c nix-fast-build --no-nom --skip-cached --max-jobs 4 --flake .#ci
